<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>-->
  <configSections>
    <sectionGroup name="ActiveAssigner">
      <section name="AssignerSet" 
               type="CallPlanner.Core.Configuration.AssignerSection, CallPlanner.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" 
               allowDefinition="Everywhere" 
               allowExeDefinition="MachineToApplication" 
               restartOnExternalChanges="true" />
    </sectionGroup>
  </configSections>

  <ActiveAssigner>
    <AssignerSet name="AssignerSet1">
      <assigners>
        <add name="EvenGroupAssigner" active="true" key="even"></add>
        <add name="OddGroupAssigner" active="true" key="odd"></add>
        <add name="OtherGroupAssigner" active="true" key="other"></add>
      </assigners>
    </AssignerSet>
  </ActiveAssigner>
</configuration>